<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <title>Foregsis</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <img src="./img/logo.png" alt="logo" />
        <div class="header-right">
          <div class="home">
            <a href="/">Home</a>
          </div>
          <div class="login">
            <a href="/login">Login</a>
          </div>
          <div class="signup">
            <a href="/signup">Sign up</a>
          </div>
        </div>
      </header>
      <main>
        <div class="guide">
          <%
          if(respondMessage){%>
            <h1><%= respondMessage.message %></1>
          <%}
          else{%>
            <h1>be a hacker , dudes :3</1>
          <%}
          %>
          
        </div>
        <form method="POST" action="/login">
            <div class="username">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="user name">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="submit-login">
                <input type="submit" value="Sign in">
            </div>
        </form>
 
     
      </main>
      <footer>
        <div class="project-infor">
          <div class="source-code">
            <h4>Source Code</h4>
            <div class="git">
              <img src="./img/giticon.png" alt="git-icon" />
              <a
                href="https://github.com/gada121982/web-forensics-injection"
                target="_blank"
                >https://github.com/gada121982/web-forensics-injection</a
              >
            </div>
          </div>
          <div class="warn">
            <img src="./img/warn.png" alt="" />
            <h5>
              This website contains an error sql injection , Lest's find it :3
            </h5>
          </div>
        </div>
        <div class="infor-author">
          <h4>Author information</h4>
          <div class="link-infor">
            <a href="https://www.facebook.com/vinhhai4199" target="_blank">
              Facebook
            </a>
            <a href="https://twitter.com/NguynVnhHi1" target="_blank">
              Twitter
            </a>
            <a href="https://www.linkedin.com/in/vinhhai" target="_blank">
              Linkin
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
