main {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0;
}

.side-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(231, 236, 235);
  height: 100vh;
  width: 30%;
}
.manage-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(173, 177, 177);
  height: 40px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
}
.manage-coin > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}
.manage-coin:hover {
  transform: translateX(10px);
}
.manage-order > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}
.manage-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(173, 177, 177);
  height: 40px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 5px;
}
.manage-order:hover {
  transform: translateX(10px);
}

.data-content {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-content: center;
}

.coin-ele {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(192, 189, 189);
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 20px;
}
.id-coin {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(199, 194, 194);
}

.seri-number {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.seri-number > label {
  font-weight: 700;
  margin-right: 10px;
}

.seri-number > h4 {
  font-weight: 700;
  margin-right: 10px;
  color: rgb(255, 106, 106);
}

.pin-number {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.pin-number > label {
  font-weight: 700;
  margin-right: 10px;
}
.hide-p {
  width: 100px;
  background-color: rgb(132, 133, 128);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  height: 20px;
  margin-top: 0 auto;
}

.active-coin {
  width: 50%;
  text-decoration: none;
  background-color: rgb(30, 120, 255);
  color: white;
  font-weight: 700;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
}
@media only screen and (max-width: 1100px) {
  .data-content {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 820px) {
  .data-content {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 550px) {
  .data-content {
    grid-template-columns: auto;
  }
}
