.data-content {
  display: block;
}

.coin-ele {
  width: 300px;
  height: 300px;
}
.pin-number > h4 {
  font-weight: 700;
  margin-right: 10px;
  color: rgb(255, 106, 106);
}

.active-coin {
  background-color: gray;
  pointer-events: none;
}
