* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
}
.wrap {
  position: relative;
  width: 100%;
}
header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid rgb(190, 184, 184);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(38, 36, 39);
  z-index: 99;
}
header > img {
  width: 70px;
  height: 70px;
  margin: 5px 0px 5px 100px;
}
.header-right {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.header-right a {
  text-decoration: none;
  color: rgb(221, 217, 217);
  font-weight: 700;
  transition: all 0.6s ease;
}
.header-right a:hover {
  font-size: 1.5rem;
  color: white;
}
main {
  margin-top: 50px;
  width: 100%;
}
.title {
  margin-bottom: 50px;
  text-align: center;
}

/*  product */

.product-wrap {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.product img {
  width: 300px;
  border-radius: 2%;
  margin-bottom: 10px;
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.3);
}
.product img:hover {
  border: 1px solid rgba(68, 65, 65, 0.5);
}
.product .pricetag {
  color: orangered;
}
.product form {
  width: 300px;
  display: flex;
  justify-content: center;
}
.product input {
  width: 300px;
  height: 50px;
  font-weight: 700;
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.151);
  transition: all 0.1s ease-in;
}
.product input:hover {
  transform: scale(1.05);
}

/* footer */
footer {
  width: 100%;
  border-top: 1px solid rgb(199, 199, 199);
  padding-top: 30px;
  height: 200px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin-top: 50px;
}

.project-infor h5 {
  color: red;
  font-weight: 700;
}
.source-code {
  display: flex;
  flex-direction: column;
}
.source-code img {
  height: 30px;
  width: 30px;
}
.source-code h4 {
  margin-bottom: 10px;
}
.git a {
  text-decoration: none;
  color: black;
}
.warn {
  margin-top: 50px;
  display: flex;
  width: fit-content;
  align-items: center;
}
.warn h5 {
  margin-left: 10px;
}
.warn img {
  height: 30px;
  width: 30px;
}

.infor-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link-infor {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.link-infor a {
  text-decoration: none;
  color: rgb(7, 134, 124);
  font-weight: 700;
  margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
  .product-wrap {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 820px) {
  .product-wrap {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 550px) {
  .product-wrap {
    grid-template-columns: auto;
  }
  footer {
    grid-template-columns: auto;
  }
  .infor-author {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
